/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.almendra-sc-regular {
  font-family: "Almendra SC", serif;
  font-weight: 400;
  font-style: normal;
}

.Aliciawonderland {
  font-family: "Aliciawonderland", serif;
  font-weight: 400;
  font-style: normal;
}

.BurtonsDreamsPro {
  font-family: "BurtonsDreams", serif;
  font-weight: 400;
  font-style: normal;
}

.VisageFace {
  font-family: "Visageface", serif;
  font-weight: 400;
  font-style: normal;
}

/* MENU SCROLL */
.no-scroll {
  overflow: hidden;
}

/* MENU ANIMATION */
.menu-img {
  transition: all 0.3s ease-in-out;
  color: white;
  cursor: pointer;
  z-index: 9999;
}

.menu-img:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 
               0 0 20px rgba(255, 255, 255, 0.8), 
               0 0 30px rgba(255, 255, 255, 0.8);
  filter: brightness(1.5);
}

/* Exemple pour un fade-in simple */
.fade-in {
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* WELCOME */
.blink {
  animation: blink 3s ease-in-out infinite;
}

/* Page welcome */
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@font-face {
  font-family: "Aliciawonderland";
  src: url("/fonts/Aliciawonderland-ZoM8.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BurtonsDreams";
  src: url("/fonts/BurtonsDreamsPro-R1rE.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Visageface";
  src: url("/fonts/VisageFace-XGVD2.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}